<h1 class="animated fadeIn fast">Found Heroes with "{{ searchValue }}"</h1>
<hr>

<!-- * list of found heroes -->

<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let heroe of heroes">
        <img [src]="heroe.img" class="card-img-top img-fluid" [alt]="heroe.name">
        <div class="card-body">
            <h5 class="card-title"> {{ heroe.name }} </h5>
            <p class="card-text"> {{ heroe.bio }} </p>
            <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

            <button (click)="backHeroes()" class="btn btn-primary btn-block">
                Back hero list
            </button>

            <!-- <button (click)="seeHeroe(i)" class="btn btn-primary btn-block">
                More info
            </button> -->
        </div>
    </div>
</div>
<!-- * / list of found heroes -->

<!-- * / No found hero -->
<div *ngIf="heroes.length === 0">
    <div class="alert alert-warning" role="alert">
        Not found heroes with the words: '{{ searchValue }}'
    </div>
    <button (click)="backHeroes()" class="btn btn-primary btn-block">
        Back hero list
    </button>
</div>