<h1 class="animated fadeIn fast">Found Heroes with "{{ searchValue }}"</h1>
<hr>

<!-- * list of found heroes -->

<div class="card-columns">
    <app-heroe-card (heroSelected)="seeHeroe($event)" [heroe]="heroe" [idx]="heroe.index" *ngFor="let heroe of heroes; let i = index"></app-heroe-card>
</div>
<!-- * / list of found heroes -->

<!-- * / No found hero -->
<div class="row animated fadeIn fast" *ngIf="heroes.length === 0">
    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
            Not found heroes with the words: '{{ searchValue }}'
        </div>
        <button (click)="backHeroes()" class="btn btn-primary btn-block">
            Back hero list
        </button>
    </div>
</div>